table{
    border: 1px black solid;
}

td{
    border: 1px black solid; 
}


.pfp{
    height: 100px;
    width: 100px;
}

.annonce{
    border: 1px solid black;
}

.commentaires{
    border: 1px solid black;
 
}

.annonceType{
    background-color: aliceblue;
}
  

.smallPfp{
    width: 5%;
    height: 5%;
}
